
h2 {
  font-size: 26px;
  font-weight: normal;
}

body {
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 16px;
  padding: 30px 50px;
  background-color: #fdfdfe;
  /*width: 90%;*/
  /*max-width: 900px;*/
}

@media only screen and (max-width: 600px) {
  body {
    padding: 5px;
  }
}

a {
  text-decoration: none;
  color: #1F45FC;
}

a:hover {
  text-decoration: underline;
}

button {
  cursor: pointer;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 16px;
}

.page {
  max-width: 750px;
  margin: 0 auto;
}

.body-of-page {
  padding: 0;
}

blockquote {
  border-left: solid 1px grey;
  padding-left: 20px;
  margin-left: 10px;
  margin-top: 0;;
}

.backlinks {
  font-size: 20px;
}

@font-face {
  font-family: "EB Garamond";
  src: url("/fonts/EB_Garamond/EBGaramond-VariableFont_wght.ttf") format("truetype");
}




* {
  font-family: "EB Garamond";
}
body {
  background: #f4ffea;
  font-size: 18px;
}
.header {
  /*text-align: center;*/
}
h1 {
  margin-bottom: 5px;
}
h3 {
  font-weight: normal;
  margin-top: 0;
}
.image-container {
  text-align: center;
}
.multi-image {
  display: flex;
  gap: 10px;
}
img {
  max-width: 500px;
  max-height: 500px;
}
.wide img {
  max-width: 100%;
}
.caption {
  font-style: italic;
  margin-top: 0;
}
.caption.source {
  font-size: 12px;
}
hr {
  margin: 30px 0;
}
.footer {
  text-align: center;
}
.subscribe {
  font-size: 25px;
}

.post-title {
  margin-bottom: 20px;
  font-size: 21px;
}

.post-title .date {
  font-family: monospace;
  font-size: 18px;
}

blockquote {
  font-style: italic;
}

iframe {
  max-width: 100%;
  width: 100%;
}
