

body {
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 16px;
  padding: 30px 50px;
}

@media only screen and (max-width: 600px) {
  body {
    padding: 5px;
  }
}

a {
  text-decoration: none;
  color: #EC7732;
}

a:hover {
  text-decoration: underline;
}

button {
  cursor: pointer;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 16px;
}

.page {
  max-width: 750px;
  margin: 0 auto;
}

.body-of-page {
  padding: 0;
}

blockquote {
  border-left: solid 1px grey;
  padding-left: 20px;
  margin-left: 10px;
  margin-top: 0;;
}

.backlinks {
  font-size: 20px;
}

@font-face {
  font-family: "EB Garamond";
  src: url("/fonts/EB_Garamond/EBGaramond-VariableFont_wght.ttf") format("truetype");
}




h1, h3 {
  font-family: "EB Garamond";
}
body {
  background: #fdfdfd;
  /*font-size: 18px;*/
}
.header {
  /*text-align: center;*/
}
h1 {
  font-size: 40px;
  margin-bottom: 5px;
}

h2 {
  font-size: 23px;
  font-weight: 500;
  margin-bottom: 0;
}
h3 {
  font-weight: normal;
  margin-top: 0;
  font-size: 27px;
}
h2 + p {
  margin-top: 5px;
}
.image-container {
  text-align: center;
}
.multi-image {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.multi-image img {
  /*width: 100%;*/
  height: auto;
}
img {
  max-width: min(500px, 90%);
  max-height: 500px;
}
.wide img {
  max-width: 100%;
}
.caption {
  font-style: italic;
  margin-top: 0;
  margin-left: 15px;
  margin-right: 15px;
}
.caption.source {
  font-size: 12px;
}
hr {
  margin: 30px 0;
}
.footer {
  text-align: center;
}
.subscribe {
  font-size: 25px;
}

.post-title {
  margin-bottom: 20px;
  font-size: 21px;
  font-family: "EB Garamond";
}

.post-title .date {
  font-family: monospace;
  font-size: 18px;
}

.front-page-header h3 {
  font-size: 21px;
}

blockquote {
  font-style: italic;
}

iframe {
  max-width: 100%;
  width: 100%;
}

li {
  padding-bottom: 5px;
}
